
        /* un commentaire en CSS */
        h1 {
            color: blue;
            text-align: center;
        }

        /* Sélectionne tous les éléments ayant classe blue */
        .blue {
            color : blue;
            background-color: lightblue;
        }

        /* Sélectionne l'élément qui à l'ID red */
        #red {
            color: red;
            color: rgb(158, 16, 94);
            color: #8a0d0d
        }
        .big {
            font-size: 32px;
        }

        .bold {
            font-weight: bold;
        }